@import url('variables.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family-base);
    background-color: var(--color-bg-light);
    color: var(--color-text-dark);
    line-height: 1.6;
}

h1, h2, h3 {
    margin-bottom: 0.5em;
    font-weight: 600;
}